.main {
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: 85vh 15vh;
    
    .spotify_container {
        display: grid;
        grid-template-columns: 15vw 85vw;
        height: 100%;
        width: 100%;
        background: linear-gradient(tranparent, rgba(0, 0, 0, 1));
        background-color: rgb(32, 87, 100);
        
    }

    .body {
        height: 100%;
        width: 100%;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0.7rem;
            &-thumb {
            background-color: rgba(36, 34, 34, 0.6);
            }
        }
        
    }
}